/*
Syntax error: File to import not found or unreadable: reset.
              Load paths:
                /home/jgonera/projects/wddh/source/wddh/css
                /home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/compass-0.12.6/frameworks/blueprint/stylesheets
                /home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/compass-0.12.6/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 1 of /home/jgonera/projects/wddh/source/css/main.css.scss

1: @import 'reset';
2: @import 'syntax';
3: 
4: body {
5:   font-family: Helvetica, sans-serif;
6:   background: #fff;

Backtrace:
/home/jgonera/projects/wddh/source/css/main.css.scss:1
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/compass-import-once-1.0.4/lib/compass/import-once/engine.rb:17:in `block in render'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/compass-import-once-1.0.4/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/compass-import-once-1.0.4/lib/compass/import-once/engine.rb:16:in `render'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/renderers/sass.rb:65:in `evaluate'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/tilt-1.4.1/lib/tilt/template.rb:103:in `render'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/core_extensions/rendering.rb:267:in `render_individual_file'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/core_extensions/rendering.rb:157:in `render_template'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/sitemap/resource.rb:143:in `block in render'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/activesupport-4.0.5/lib/active_support/notifications.rb:161:in `instrument'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/util.rb:42:in `instrument'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/application.rb:218:in `instrument'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/sitemap/resource.rb:16:in `instrument'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/sitemap/resource.rb:114:in `render'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/core_extensions/request.rb:256:in `process_request'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/core_extensions/request.rb:206:in `block in call!'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/core_extensions/request.rb:205:in `catch'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/core_extensions/request.rb:205:in `call!'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/core_extensions/request.rb:191:in `call'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/rack-1.5.2/lib/rack/builder.rb:138:in `call'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/rack-1.5.2/lib/rack/urlmap.rb:65:in `block in call'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/rack-1.5.2/lib/rack/urlmap.rb:50:in `each'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/rack-1.5.2/lib/rack/urlmap.rb:50:in `call'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/rack-1.5.2/lib/rack/head.rb:11:in `call'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/rack-1.5.2/lib/rack/lint.rb:49:in `_call'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/rack-1.5.2/lib/rack/lint.rb:37:in `call'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/rack-1.5.2/lib/rack/builder.rb:138:in `call'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/rack-test-0.6.2/lib/rack/mock_session.rb:30:in `request'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/rack-test-0.6.2/lib/rack/test.rb:230:in `process_request'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/rack-test-0.6.2/lib/rack/test.rb:57:in `get'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/cli/build.rb:255:in `render_to_file'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/cli/build.rb:221:in `build_resource'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/cli/build.rb:188:in `each'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/cli/build.rb:188:in `execute!'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/cli/build.rb:128:in `invoke!'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/thor-0.19.1/lib/thor/actions.rb:94:in `action'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/cli/build.rb:70:in `build'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/thor-0.19.1/lib/thor/command.rb:27:in `run'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/thor-0.19.1/lib/thor/invocation.rb:126:in `invoke_command'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/thor-0.19.1/lib/thor.rb:359:in `dispatch'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/thor-0.19.1/lib/thor/base.rb:440:in `start'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/cli.rb:76:in `method_missing'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/thor-0.19.1/lib/thor/command.rb:29:in `run'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/thor-0.19.1/lib/thor/command.rb:126:in `run'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/thor-0.19.1/lib/thor/invocation.rb:126:in `invoke_command'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/thor-0.19.1/lib/thor.rb:359:in `dispatch'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/thor-0.19.1/lib/thor/base.rb:440:in `start'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/lib/middleman-core/cli.rb:22:in `start'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/middleman-core-3.3.2/bin/middleman:18:in `<top (required)>'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/bin/middleman:23:in `load'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/bin/middleman:23:in `<main>'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/bin/ruby_executable_hooks:15:in `eval'
/home/jgonera/.rvm/gems/ruby-2.1.1@wddh/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: reset.\A               Load paths:\A                 /home/jgonera/projects/wddh/source/wddh/css\A                 /home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/compass-0.12.6/frameworks/blueprint/stylesheets\A                 /home/jgonera/.rvm/gems/ruby-2.1.1@wddh/gems/compass-0.12.6/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 1 of /home/jgonera/projects/wddh/source/css/main.css.scss\A \A 1: @import 'reset';\A 2: @import 'syntax';\A 3: \A 4: body {\A 5:   font-family: Helvetica, sans-serif;\A 6:   background: #fff;"; }
