<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title || "HTML5 Boilerplate" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <%= yield %>
    <script src="js/main.js"></script>
  </body>
</html>
