<h2>Showcase</h2>
<ul class="showcase">
<% blog.articles.select {|a| a.data[:category] == 'showcase' }.each do |article| %>
  <li>
    <h2><%= link_to article.title, article %></h2>
  </li>
<% end %>
</ul>

<h2>Documentation</h2>
<ul class="documentation">
<% blog.articles.select {|a| a.data[:category] == 'documentation' }.each do |article| %>
  <li>
    <h2><%= link_to article.title, article %></h2>
    <p><%= article.data.description %></p>
  </li>
<% end %>
</ul>
