<h2>Showcase</h2>
<ul>
<% blog.articles.select {|a| a.data[:category] == 'showcase' }.each do |article| %>
  <li><%= link_to article.title, article %></li>
<% end %>
</ul>

<h2>Documentation</h2>
<ul>
<% blog.articles.select {|a| a.data[:category] == 'documentation' }.each do |article| %>
  <li><%= link_to article.title, article %></li>
<% end %>
</ul>
